{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to django cart!{% endblock title %}

{% block content %}
    <h1>Welcome to Django cart!</h1>
    
    {% if messages %}
        {% for m in messages %}
            <h2>{{ m }}</h2>
        {% endfor %}
    {% endif %}

    {% if request.user.is_authenticated %}
        <br><h2>برای ورود به <a href="{% url 'cart:cart' %}">سبد خرید</a> کلیک کنید</h2><br><br>
    {% else %}
        <br><h2>برای ورود به <a href="{% url 'admin:login' %}">حساب کاربری</a> خود کلیک کنید</h2><br><br>
    {% endif %}

    {% if products %}
        <h2>These are our products:</h2>
        {% for product in products %}

            <!--Following 6 lines show us how we can link to same url in many ways:-->
            <a href="{{ product.get_absolute_url }}"><img src={{ product.image.url }} alt="{{ proudct.name }}" width="120" height="100"></a><br><br>
            <a href="{% url 'shop:product_detail' pk=product.id %}">product link(only pk)</a><br>
            {% comment "django Detail view only accepts pk or slug field" %}
                <a href="{% url 'shop:product_detail' name=product.name %}">product link(only name)</a><br>
            {% endcomment %}
            <a href="{% url 'shop:product_detail' slug=product.slug %}">product link(slug)</a><br><br><br>

        {% endfor %}
    {% else %}
        <h2>There is no products in your website!</h2>
    {% endif %}
    <br><h2><a href="{% url 'vitrin:create_user' %}">Create new user</a></h2><br>
    <h2><a href="{% url 'vitrin:create_group' %}">Create new group</a></h2><br>
    <h2><a href="{% url 'vitrin:create_permission' %}">Create new permission</a></h2><br><br>

    {% if request.user.is_authenticated %}
        <h2><a href="{% url 'vitrin:logout' %}">logout {{ request.user.username }}</a></h2>
    {% else %}
        <h2><a href="{% url 'vitrin:login' %}">login now</a></h2>
    {% endif %}
    
{% endblock content %}
