<!--This template and its static files (main.css, main.js) are came from below link:
  https://codepen.io/justinklemm/pen/kyMjjv
-->

{% extends 'base.html' %}
{% load static %}
{% load cart_filters %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'cart/static/main.css' %}">
{% endblock head %}

{% block title %}{{ request.user.username }} cart{% endblock title %}

{% block content %}

{% if cart.total_items %}
<h1>سبد خرید</h1>

<div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">تصویر</label>
    <label class="product-details">کالا</label>
    <label class="product-price">قیمت</label>
    <label class="product-quantity">تعداد</label>
    <label class="product-removal">حذف</label>
    <label class="product-line-price">مجموع</label>
  </div>

    {% for product in cart.products.all %}
      <div class="product">
        <div class="product-image">
          <!--<img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">-->
          <img src="{{product.image.url}}">
        </div>
        <div class="product-details">
          <div class="product-title">{% if product.brand %}{{ product.brand }} {% endif %}{{ product.name }}</div>
          <!--<p class="product-description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once and ate one myself. I'm a fan.</p>-->
        </div>
        <div class="product-price">{{ product.price }}</div>
        <div class="product-quantity">
          {% for ci in cart.cart_item_cart.all %}
            {% if ci.product.id == product.id %}
              <input type="number" value="{{ ci.number }}" min="1" max="5">
            {% endif %}
          {% endfor %}
        </div>
        <div class="product-removal">
          <button class="remove-product">
            حذف از سبد
          </button>
        </div>

        {% for ci in cart.cart_item_cart.all %}
            {% if ci.product.id == product.id %}
            <!--<h2>{{ci.price}}  {{ci.number}}</h2>-->
              <div class="product-line-price">{{ product.price|multiple:ci.number }}</div>
              <!--Or instead of above, we can use this:    <div class="product-line-price">{{ci.price}} تومان</div>-->
            {% endif %}
        {% endfor %}

      </div>
    {% endfor %}

    <!--
    <div class="product">
      <div class="product-image">
        <img src="https://s.cdpn.io/3/large-NutroNaturalChoiceAdultLambMealandRiceDryDogFood.png">
      </div>
      <div class="product-details">
        <div class="product-title">Nutro™ Adult Lamb and Rice Dog Food</div>
        <p class="product-description">Who doesn't like lamb and rice? We've all hit the halal cart at 3am while quasi-blackout after a night of binge drinking in Manhattan. Now it's your dog's turn!</p>
      </div>
      <div class="product-price">45.99</div>
      <div class="product-quantity">
        <input type="number" value="1" min="1">
      </div>
      <div class="product-removal">
        <button class="remove-product">
          Remove
        </button>
      </div>
      <div class="product-line-price">45.99</div>
    </div>
    -->
  

    <div class="totals">
      <div class="totals-item">
        <label>هزینه کالاها</label>
        <div class="totals-value" id="cart-subtotal">{{ cart.total_price }}</div>
      </div>
      <div class="totals-item">
        <label>پنج درصد مالیات</label>
        <div class="totals-value" id="cart-tax">{{ cart.total_price|multiple:0.05 }}</div>
      </div>
      <div class="totals-item">
        <label>هزینه ارسال</label>
        <div class="totals-value" id="cart-shipping">50000</div>
      </div>
      <div class="totals-item totals-item-total">
        <label>کل هزینه</label>
        {% with tot as cart.total_price %}
          <div class="totals-value" id="cart-total">{{ tot }}</div>
        {% endwith %}
      </div>
    </div>
        
        <button class="checkout">پرداخت</button>
  
  </div>



  <!--
  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">71.97</div>
    </div>
    <div class="totals-item">
      <label>Tax (5%)</label>
      <div class="totals-value" id="cart-tax">3.60</div>
    </div>
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">15.00</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">90.57</div>
    </div>
  </div>
      
      <button class="checkout">Checkout</button>

</div>
-->

{% else %}
  <h2>سبد خالی است</h2>
{% endif %}

{% endblock content %}

{% block scripts %}
    <script src="{% static 'cart/static/main.js' %}"></script>
{% endblock scripts %}